# The URL base for the autoscaler service to connect to
AUTOSCALER_HOST_URL=

# The audience to use for the asap jwt we generate
#ASAP_JWT_AUD='jitsi-autoscaler'

# The issuer to use when generating asap jwt
#ASAP_JWT_ISS='jitsi-autoscaler-sidecar'

# The kid used in the generated asap jwt tokens
#ASAP_JWT_KID='jitsi/default'

# The private key file that will be used for creating jwt tokens to connect to the selector component (required)
ASAP_SIGNING_KEY_FILE=

# The instance type (jvb, jibri, sip-jibri or jigasi) that is served by this sidecar (required)
INSTANCE_TYPE=

# Defaults to the hostname, an id to use when identifying the side car/component
#INSTANCE_ID=

# Should include at least 'group' 'environment' and 'region' values
# Can also include 'name', 'privateIp', 'publicIp' values
#INSTANCE_METADATA='{}'

#
#LOG_LEVEL=info

#
#PORT=6000

# poll for shutdown signal once every N seconds
#SHUTDOWN_POLLING_INTERVAL=60

# poll for local stats once every N seconds
#STATS_POLLING_INTERVAL=60

# path to graceful shutdown script
#GRACEFUL_SHUTDOWN_SCRIPT=/usr/local/bin/graceful_shutdown.sh

# path to final termination script
#TERMINATE_SCRIPT=/usr/local/bin/terminate_instance.sh

# path to reconfigure instance script
#RECONFIGURE_SCRIPT=/usr/local/bin/reconfigure_instance.sh

# boolean to enable stats reporting
#ENABLE_REPORT_STATS=0

# polling URL at autoscaler service, defaults to $AUTOSCALER_HOST_URL/sidecar/poll
#POLLING_URL=

# status URL at autoscaler service, defaults $AUTOSCALER_HOST_URL/sidecar/status
#STATUS_URL=

# stats reporting URL at autoscaler service, , defaults to $AUTOSCALER_HOST_URL/sidecar/stats
#STATS_REPORT_URL=

# The URL the sidecar can hit on the local component to query for its stats
# e.g. 'http://localhost:2222/jibri/api/v1.0/health' (jibri) or
# 'http://localhost:8788/about/stats' in case of jigasi
# 'http://localhost:8080/colibri/stats' in case of JVB
#STATS_RETRIEVE_URL=
