#
#PORT=6000

#
#LOG_LEVEL=info

# The audience to use for the asap jwt we generate
#ASAP_JWT_AUD=jitsi-autoscaler

# The issuer to use when generating asap jwt
#ASAP_JWT_ISS=jitsi-autoscaler-sidecar

# The kid used in the generated asap jwt tokens (required)
ASAP_JWT_KID=

# The private key file that will be used for creating jwt tokens to connect to the autoscaler(required)
ASAP_SIGNING_KEY_FILE=

# Defaults to the hostname, an id to use when identifying the sidecar/instance (required)
INSTANCE_ID=

# The instance type (jibri, jigasi, JVB, sip-jibri) that is served by this sidecar (required)
INSTANCE_TYPE=

# Additional metadata in JSON format to describe the instance that is served by this sidecar
#INSTANCE_METADATA={}

# If true, when the sidecar polls the autoscaler for commands and reports its status,
# it will include in the status additional instance stats
#ENABLE_REPORT_STATS=false

# At which interval should the sidecar retrieve the stats from the local instance
#STATS_POLLING_INTERVAL=30

# The URL the sidecar can hit on the local instance to retrieve its stats - polling mechanism
# e.g. 'http://localhost:2222/jibri/api/v1.0/health' (jibri)
#STATS_RETRIEVE_URL=

# The autoscaler URL used by the sidecar to report the stats of the local instance - push mechanism,
# when they were sent by the local instance to the sidecar via: /hook/v1/status endpoint
STATS_REPORT_URL=http://localhost:3000/sidecar/stats

# At which interval should the sidecar poll the autoscaler for commands (such as shutdown or reconfigure)
#SHUTDOWN_POLLING_INTERVAL=60

# The autoscaler URL used by the sidecar to report its basic details and
# to poll for commands, such as shutdown or reconfigure (required)
POLLING_URL=http://localhost:3000/sidecar/poll

# The autoscaler URL used by the sidecar to report the status of the local instance and
# to poll for commands, such as shutdown or reconfigure (required)
STATUS_URL=http://localhost:3000/sidecar/status

# The command the sidecar can run on the local instance to gracefully shut it down
#GRACEFUL_SHUTDOWN_SCRIPT=/usr/local/bin/graceful_shutdown.sh

# The command the sidecar can run on the local instance to shut it down
#TERMINATE_SCRIPT=/usr/local/bin/terminate_instance.sh

# The command the sidecar can run on the local instance to reconfigure it
#RECONFIGURE_SCRIPT=/usr/local/bin/reconfigure_instance.sh




