#!/usr/bin/make -f

#export DH_VERBOSE=1
#export DEB_VERBOSE_ALL=true

%:
	dh $@

override_dh_clean:
	rm -rf dist
	dh_clean

override_dh_auto_build:
	npm ci --production
	npm run build

override_dh_auto_install:
	dh_auto_install
	dh_installsystemd --restart-after-upgrade

