#!/usr/bin/make -f

#export DH_VERBOSE=1
#export DEB_VERBOSE_ALL=true

%:
	dh $@ --with=systemd

override_dh_clean:
	rm -rf dist
	dh_clean

override_dh_auto_build:
	npm ci --production
	npm run build

override_dh_installinit:
	dh_installinit --no-restart-after-upgrade --no-start

override_dh_installsystemd:
	dh_installsystemd --no-start --no-restart-after-upgrade

override_dh_systemd_start:
	dh_systemd_start --no-start --no-restart-after-upgrade
